* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  background: #e6e6e6;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.hidden {
  display: none;
}

input {
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  width: 80%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #7b9669;
  color: white;
  font-size: 16px;
}

span {
  color: #3b6ddf;
  cursor: pointer;
}

header {
  width: 100%;
  padding: 15px;
  background: #7b9669;
  color: white;
  display: flex;
  justify-content: space-between;
}
